@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
/* header */	
.header{
	background-color:#fff;
}

/* 헤더  안에 제일 큰 div */
.header>div {
	position:relative;
	width:80%;
	min-width: 700px;
	height:84px;
	margin:0 auto;
	z-index:30
}

/* 로고이미지 */
.header h1{
	float:left;
	margin-top:23px;
}
.header h1 img{
	vertical-align:top;
}


/* #headerMenu */
#headerMenu {
	float:right;
	margin-top:35px;
}

#headerMenu .login{
	float:left;
}

#headerMenu .login a{
	color:#06603c;
	font-size:13px;
}

#headerMenu .login a:hover{
	text-decoration: none;
	font-weight: bold;
	
}
/* 이용안내 dropDown */
#headerMenu .dropdown{
	margin-left: 50px;
	float:right;
}
#headerMenu>.dropdown>span{
	cursor: pointer;
	color:#06603c;
	font-size:13px;
}
#headerMenu>.dropdown span:hover{
	font-weight: bold;
}

#headerMenu>.dropdown>ul{
	background-color: #fff;
	min-width: 130px;
	width: 130px;
	border-radius: 1px;
	
}


/* header2 */
.header2 {
	text-align: center;
	position:relative;
	height:60px;
	background-color:#004640;
	z-index:21;
}

#divTopMenu {
	min-width: 1040px;
}

#divTopMenu > ul > li {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

#divTopMenu > ul > li > p {
    position: relative;
    top: -60px;
    width: 1040px;
    margin: 0 auto;
}

#divTopMenu > ul > li > p a {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 16px;
}

/* #divTopMenu > ul > p a { */
/*     padding-bottom: 13px; */
/*     color: #bcc922; */
/*     font-weight: 600; */
/* } */







