@charset "UTF-8";

/* header */	
.header{
	background-color:#fff;
}
.header h1{float:left;margin-top:23px}
.header h1 img{vertical-align:top}

.header > div {
	position:relative;width:1040px;height:84px;margin:0 auto;z-index:30
}

/* #headerMenu */
#headerMenu {
	float:right;
	margin-top:35px;
}

#headerMenu > ul{
	float:left;
}



/* header2 */
.header2 {
	position:relative;
	height:60px;
	background-color:#004640;
	z-index:21;
}