@charset "UTF-8";

#leftBar #leftBar5 a{
	background-color: #555;
    color: white;
}
<!--상단 바 시작 -->

#divContentsW{
	background-color:#fff;
}

#divContents{
	margin-left:350px;
	background-color:#fff;
	padding-bottom:30px;
	background-color:#fff;
	margin-right: 100px;
}


#divTitle{
	color:#464646;
	font-size:32px;
}

#divLocation{
	min-height:20px;
	margin:0 56px 20px 0;
	overflow:hidden;
}

#divLocation .home{
	list-style: none;
	float:left;
	padding-left:20px;
	margin-left:13px;
	background:url(./../../image/common/home.png) no-repeat 0 3px;
	font-family:NG, sans-serif;
	line-height:1.5em;
}
#divLocation ul li{
	list-style: none;
	float:left;
	padding-left:20px;
	margin-left:13px;
	font-family:NG, sans-serif;
	line-height:1.5em;
}

#divLocation ul li a{
	color:#454545;
}

#divLocation ul li:first-child{
	margin:0;
	padding:0;
	background:none;
}
<!--상단 바 끝 -->

select#kind {
    font-family: inherit;
}

select#kind {
    height: 35px;
    border: 1px solid #d1d0cf;
    background-color: #fff;
    line-height: 29px;
}
#section option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.inputTextType3 {
	width: 290px;
    height: 35px;
    border: 1px solid #d1d0cf;
    line-height: 2.1em;
    font-size: 13px;
    vertical-align: top;
    color: #4c4c4c;
    padding: 0 5px;
    font-family: NanumBarunGothic,sans-serif;
}

.btnType5{
  	height: 35px;
    vertical-align: top;
    border: 1px solid #585858;
    background: url(../../image/bookTotalSearch/limitSearch.gif) no-repeat 15px 50%;
    background-color: #fff;
    padding: 0 20px 0 45px;
}
.btnType3{
	height: 30px;
    vertical-align: top;
    border: 1px solid #585858;
    background-color: #fff;
    padding: 0 20px 0 20px;
}
.listTable {
    clear: both;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.listTable tr th {
    height: 40px;
    padding: 10px 8px;
}

.listTable td {
    padding: 14px 10px;
    border-top: 1px solid #e6e6e6;
    height: 40px;
    text-align: left;
}

.listTable tr:hover{
	background-color: #fcf9ce;
}
table th {
    border: none;
    background-color: #f3f3f3;
    color: #727272;
}

.paging {
    clear: both;
    margin: 40px 0 0;
    text-align: center;
}

.paging > span {
    margin: 0 10px;
}

.paging > span span {
    padding: 0 10px;
    color: #000;
    text-decoration: underline;
}

.paging > a {
    width: 28px;
    height: 28px;
    display: inline-block;
    padding: 0;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
}

.paging > a img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}