@charset "UTF-8";

#leftBar #leftBar8 a{
	background-color: #555;
    color: white;
}

<!--상단 바 시작 -->

#divContentsW{
	background-color:#fff;
}

#divContents{
	margin-left:350px;
	background-color:#fff;
	padding-bottom:30px;
	background-color:#fff;
	margin-right: 100px;
	margin-top: 50px;
}


#divTitle {
    color: #464646;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#divLocation{
	min-height:20px;
	margin:0 56px 20px 0;
	overflow:hidden;
}

#divLocation .home{
	list-style: none;
	float:left;
	padding-left:20px;
	margin-left:13px;
	background:url(./../../image/common/home.png) no-repeat 0 3px;
	font-family:NG, sans-serif;
	line-height:1.5em;
}
#divLocation ul li{
	list-style: none;
	float:left;
	padding-left:20px;
	margin-left:13px;
	font-family:NG, sans-serif;
	line-height:1.5em;
}

#divLocation ul li a{
	color:#454545;
}

#divLocation ul li:first-child{
	margin:0;
	padding:0;
	background:none;
}
<!--상단 바 끝 -->

.profile {
    padding: 30px;
    margin-bottom: 40px;
    border: 1px solid #dbdbdb;
}
.borderIn{
	padding: 30px;
    margin-bottom: 40px;
    border: 1px solid #dbdbdb;
}

.profile .profileHeader h3 {
	margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    color: #004640;
    line-height: 1.2;
    font-weight: bold;
}

.profile .profileHeader {
    margin-bottom: 20px;
}

.profile .profileHeader p {
    font-size: 15px;
    color: #737373;
}

.profile .profileContent {
	padding-top: 30px;
    position: relative;
    overflow: hidden;
    padding-right: 198px;
    min-height: 350px;
}

.profile .table {
    width: 100%;
    word-break: break-all;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
/* //////////book_img////////////// */
.profile .briefInfo {
    position: absolute;
    right: 0;
    top: 0;
    width: 143px;
    padding: 0 0 0 0;
}

dl, dt, dd, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile .briefInfo dd.bookImg img {
    width: 143px;
    height: 204px;
}

.profile .briefInfo dd.bookImg {
    margin-bottom: 10px;
    width: 141px;
    height: 202px;
}
/*///////////////////////////////////*/
.profile #moreInfo th, .profile #dlInfo th {
    width: 18%;
    padding-bottom: 10px;
}

.profile th {
    background: none;
    text-align: right;
}

.profile th, .profile td {
    height: 28px;
    vertical-align: top;
    line-height: 2;
    color: #4d4d4d;
}

.profile #moreInfo td, .profile #dlInfo td {
    padding: 0 0 0 20px;
}

.profile th, .profile td {
    height: 28px;
    vertical-align: top;
    line-height: 2;
    color: #4d4d4d;
}

.searchInfo {
    position: relative;
    padding-bottom: 40px;
}

.searchInfo .searchHeader {
    height: 40px;
    padding: 0 17px 0 20px;
    background: #06603c;
}

.searchInfo .searchHeader h3 {
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    font-weight: bold;
}

.listTable {
    clear: both;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    text-align: center;
}

.searchTable tr th {
    padding: 10px 10px;
}

.listTable tr th {
    height: 30px;
    text-align: center;
}

table th {
    border: none;
    background-color: #f3f3f3;
    color: #727272;
}

.searchTable tr td {
    padding: 13px 10px;
    line-height: 1.2;
}

.listTable td {
	text-align: center;
    border-top: 1px solid #e6e6e6;
}

input.btnType5 {
    height: 35px;
    vertical-align: top;
    border: 1px solid #585858;
    background-color: #fff;
    padding: 0 20px 0 20px;
    color: black;
}
.btnType5:hover {
    background: #f4f4f4;
    color: #033823;
}
.btn2{
	width: 150px;
	height: 80px;
	margin:0 auto;
}
input[type=text]:focus {
    border-color:#333;
}
