@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

<!--상단바-->
#section a:hover {
	text-decoration: none;
}

#section {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 40px !important;
    background-color: #fff;
    z-index: 5;
}


#section h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#bts_top_section {
	margin: 0 auto;
	padding-bottom: 40px;
}

#divTitle {
    color: #464646;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 40px 450px 0 0;
}

#divLocation {
    min-height: 20px;
    margin: 0 56px 20px 0;
}

#divLocation ul li:first-child {
    margin: 0;
    padding: 0;
    background: none;
}

#divLocation ul li {
    float: left;
    padding-left: 20px;
    margin-left: 13px;
	list-style: none;
    font-family: NG, sans-serif;
    line-height: 1.5em;
}
#btn_OK {
    width: 150px;
    height: 50px;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
    background: #033823;
    border: 1px solid #aaa;
	-webkit-appearance: button;
    cursor: pointer;
}
<!--상단바 끝-->