@charset "utf-8";

#leftBar #leftBar1 a{
	background-color: #555;
    color: white;
}


#divContents{
	margin-left:350px; 
	margin-bottom: 50px;
}
.loginW {overflow:hidden;position:relative;width:698px;border:1px solid #b3b3b3}
.loginW form {float:left;width:100%}

#divTitle{color:#464646;font-size:32px;margin-bottom: 20px;}
#divLocation{min-height:20px;margin: 0 56px 20px 0; overflow: hidden;}

#divLocation ul{
	list-style: none;
}
#divLocation ul li{float: left; padding-left: 20px; margin-left: 13px; font-family:NG, sans-serif;line-height: 1.5em}
#divLocation ul li a{color:#454545}
#divLocation ul li:first-child{margin: 0; padding: 0; background: none;}

.loginW .loginContent {position:relative;padding:40px 96px;margin:0 auto}
.loginW form dl {overflow:hidden;position:relative;height:36px;padding-left:60px;margin-bottom:10px}
.loginW form dt {position:absolute;left:0;top:0;width:60px;line-height:35px}
.loginW .inputTextType1 {width:319px;color:#b0afaf}
.loginW .msg {position:absolute;left:156px;top:215px;width:319px}

.loginW .loginBtn {position:absolute;left:497px;top:123px}
.loginW .loginBtn input {display:block;width:105px;height:80px;border:1px solid #4a994a;background:#4a994a;color:#fff;font-size:16px;cursor:pointer}

.loginW .intro {overflow:hidden;height:54px;margin-bottom:30px;line-height:1.2em;letter-spacing:-1px}
.loginW .intro img {float:left;width:160px;height:52px;margin-right:20px}
.loginW .intro p {font-size:13px;color:#737373}
.loginW .intro .welcome {margin:16px 0 5px 0;font-size:16px;color:#1a1a1a}
.loginW .intro .welcome span {color:#4a994a}
