@charset "UTF-8";

#leftBar2 a{
	color: #333;
    font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
}

<!--상단 바 시작 -->
#divContentsW{
	background-color:#fff;
}

#divContents{
	padding-bottom:30px;
	background-color:#fff;
}

#divContents{
	position:relative;
	width:1040px;
	margin:0 auto;
	padding-bottom:40px !important;
	background-color:#fff;
	z-index:5;
}

#divTitle{
	padding: 40px 450px 0 0;
	color: #464646;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#divLocation{
	min-height:20px;
	margin:0 56px 20px 0;
	overflow:hidden;
}

#divLocation ul li{
	list-style:none;
	float:left;
	padding-left:20px;
	margin-left:13px;
	font-family:NG, sans-serif;
	line-height:1.5em;
}

#divLocation ul li a{
	color:#454545;
}

#divLocation ul li:first-child{
	margin:0;
	padding:0;
	background:none;
}
<!--상단 바 끝 -->
#span2{
	font-size: 11px;
    color: #999;
    margin: 0 0 20px;
    font-family: 'Roboto','Nanum Square','Open Sans','PT Sans','nanumgothic','malgun gothic','arial','dotum','sans-serif';
}
strong {
    display: block;
    margin: 0 0 0 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto','Nanum Square','Open Sans','PT Sans','nanumgothic','malgun gothic','arial','dotum','sans-serif';
}
#confirm{
	width: 600px;
    margin: 110px auto 80px auto;
    padding: 0 0 10px 150px;
    color: #353535;
    line-height: 1.5;
}
.wbbtn{
	display: inline-block;
    margin: 0;
    border-radius: 0px;
    background: transparent;
    outline: 0;
    vertical-align: middle;
    font-family: inherit;
    font-size: 12px;
    padding: 0 1em 0 .95em;
    height: 30px;
    line-height: 27px;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.black{
	color: #fff;
    border: 1px solid #3c434d;
    border-bottom-color: #363d47;
    box-shadow: 0 2px 2px rgba(0,0,0,0.04);
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: #004640;
    background: linear-gradient(to bottom,#434a54 100%,#434a54 100%);
}
.white{
	color: #656d78;
    border: 1px solid #ebebeb;
    border-bottom-color: #c6c6c6;
    box-shadow: 0 2px 2px rgba(0,0,0,0.04);
    text-shadow: 0 0 2px rgba(255,255,255,1);
    background: #fff;
    background: linear-gradient(to bottom,#ffffff 40%,#f6f6f6 100%);
}
.block{
	display: block;
    width: 100%;
    text-align: center;
}

span#won{
	font-size: 18px;
	font-weight: bold;
}
.order{
	margin:0 auto;
}
.orderPro{
	margin:0 auto;
}
.myOrder{
	margin:0 auto;
}

input.btnType5 {
    height:38px;
	display:inline-block;
	margin:0 5px;
	padding:0 19px;
	border:1px solid #585858;
	color:#1a1a1a;
	font-size:14px;
	font-weight:600;
	line-height:38px;
	vertical-align:top;
	background-color:white;
}
.btnType5:hover {
    background: #033823;
    color: white;
}
.btn{
	width: 1040px;
	height: 80px;
	margin:0 auto;
}
.tTitle{
	padding: 0 0 5px 10px;
	font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto','Nanum Square','Open Sans','PT Sans','nanumgothic','malgun gothic','arial','dotum','sans-serif';
}

#fTable{
	width:100%;
	position: relative;
    margin: 0;
    border: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-top-color: none;
    color: inherit;
    line-height: 1.5;
}
#fTable th{
	width: 150px;
	padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    border-left: 0;
}
#fTable td{
    padding: 5px 10px;
    border: 0;
    color: #666;
    vertical-align: middle;
    border-top: 1px solid #eaeaea;
}

#sTable{
	width:100%;
	position: relative;
    margin: 0;
    border: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-top-color: none;
    color: inherit;
    line-height: 1.5;
}
#sTable th{
	padding: 5px 10px;
    border: 0;
    color: #999;
    vertical-align: middle;
    font-weight: normal;
}
#sTable td{
    padding: 5px 10px;
    border: 0;
    color: #666;
    vertical-align: middle;
    border-top: 1px solid #eaeaea;
}

#tTable{
	width:100%;
	position: relative;
    margin: 0;
    border: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-top-color: none;
    color: inherit;
    line-height: 1.5;
}
#tTable th{
	padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    border-left: 0;
    width: 150px;
}
#tTable td{
    padding: 5px 10px;
    border: 0;
    color: #666;
    vertical-align: middle;
    border-top: 1px solid #eaeaea;
}